#root {
  min-width: 100%;
}

.animate-spin-slower {
  animation: spin 6s linear infinite
}

@keyframes spin {
  to {
      transform: rotate(1turn)
  }
}

.animate-spin-slow {
  animation: spin 4s linear infinite
}

@keyframes spin-reverse {
  to {
      transform: rotate(-1turn)
  }
}

.animate-spin-reverse-slower {
  animation: spin-reverse 6s linear infinite
}

@keyframes fade-in {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

.animate-fade-in {
  animation: fade-in .5s linear forwards
}

.chakra-input__left-addon {
  min-width: 140px;
  justify-content: flex-end;
  font-weight: bold;
  color: #6a6e72;
}